.west
build

# Local west workspace artifacts (root)
bootloader/
modules/
nrf/
nrfxlib/
test/
tools/
zephyr/
/S-GDEY0154F51/S-GDEY0154F51-4G-20230809/OBJ

# Local west workspace artifacts (firmware sub-workspace)
firmware/bootloader/
firmware/modules/
firmware/nrf/
firmware/nrfxlib/
firmware/test/
firmware/tools/
firmware/zephyr/
firmware/.west/
firmware/build/
firmware/west-manifest/
